[submodule "HPC-Tools"]
	path = HPC-Tools
	url = git@github.com:caleblin125/HPC-Tools.git
[submodule "libs/clone/WRF"]
	path = libs/clone/WRF
	url = https://github.com/wrf-model/WRF.git
	ignore = dirty
[submodule "libs/spack"]
	path = libs/spack
	url = https://github.com/spack/spack.git
	ignore = dirty
[submodule "libs/clone/MFC"]
	path = libs/clone/MFC
	url = https://github.com/MFlowCode/MFC.git
	ignore = dirty
[submodule "libs/clone/WPS"]
	path = libs/clone/WPS
	url = https://github.com/wrf-model/WPS.git
	ignore = dirty
