[submodule "libs/MFC"]
	path = libs/clone/MFC
	url = git@github.com:Hmartinez214/MFC.git
[submodule "HPC-Tools"]
	path = HPC-Tools
	url = git@github.com:caleblin125/HPC-Tools.git
[submodule "libs/WRF"]
	path = libs/clone/WRF
	url = https://github.com/wrf-model/WRF
